body{
    font-family:Roboto ;
    background: #fff;
    background-position: 100%;
    background: fixed;
    background: no-repeat;
    background-color: purple


}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
::-webkit-scrollbar{
    display: none;
}
table{
    width: 600px;
    box-shadow: -1px 12px 12px -6px rgba(0,0,0,0.5);
      margin-left: auto;
      margin-right: auto;
     padding-top: 20%;
  
     
  }
  .video{
display: block;
margin: auto;
  }

  table, td, th{
    padding: 20px;
    border: 1px solid lightgray;
    border-collapse: collapse;
    text-align: center;
    cursor: pointer;
    background-color: purple;
  }
  td{
    font-size: 18px;
  }
  th{
    background-color: palevioletred;
    color: white;
  }



.wrap{
   
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    min-height: 100%;
    position: fixed; 
}

p{
    font-size: 60px;
    -webkit-column-break-before: page;


}

wave{
    position:absolute;
    width: 100%;
    bottom: 90px;
    color: #fff; ;
    opacity: 1;
}
    footer{
        position: absolute;
        bottom: 0;
        padding: 40%;
        background-position: 100%;
        color: white;
        width: 100%;
        font-style: italic;
        left: 0;
        right: 0;
        font-size: 35px;
        margin-bottom: 0px;
    }

  